.indice .command-list{
    max-height:600px;
    overflow-y:auto;
}

.command-list{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.command-list span{
  background:#090f64;
  color:white;
  padding:12px;
  border-radius:14px;
  font-weight:600;
  font-size:14px;
}

.command-list i{
  margin-right:8px;
}