.indice .command-list{

    flex:1;

    overflow-y:auto;

    max-height:none;

}

.command-list{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.command-list span{
  background:#090f64;
  color:white;
  padding:12px;
  border-radius:14px;
  font-weight:600;
  font-size:14px;
}

.command-list i{
  margin-right:8px;
}

.btnIndice{

    width:100%;

    border:none;

    background:#141a73;

    color:white;

    padding:10px;

    border-radius:10px;

    cursor:pointer;

    text-align:left;

    font-family:'Poppins',sans-serif;

    font-size:13px;

    margin-bottom:8px;

}

.btnIndice:hover{

    background:#1d4ed8;

}