.btnMarco{

    width:100%;

    margin-top:12px;

    background:#143cac;

    color:white;

    border:none;

    border-radius:14px;

    padding:15px;

    font-size:15px;

    font-family:'Poppins',sans-serif;

    cursor:pointer;

    transition:.25s;

}

.btnMarco:hover{

    background:#1d4ed8;

}

#visorWord{

    height:700px;

    background:white;

    border-radius:18px;

    padding:30px;

    overflow-y:auto;

    overflow-x:hidden;

}

#visorWord img{

    max-width:100%;

}

.mensajeInicial{

    text-align:center;

    color:#64748b;

    margin-top:180px;

}

.mensajeInicial i{

    font-size:80px;

    color:#2452d6;

    margin-bottom:20px;

}

.wordContenido{

    line-height:1.8;

    font-size:15px;

}